.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  padding-left: 120px;
  border-bottom: 1px solid #c0c0c0c0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20px;
  position: fixed;
  top: 0;
  z-index: 8888;
  background-color: #2979ff;
  background-color: #fafafa;
}

.header .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 10px;
}

.header .head-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 130px;
  border-radius: 30px;
  background-color: white;
  margin-right: 50px;
  font-size: 18px;
}

.header .head-create__icon {
  margin: 5px;
}

.header .head-today {
  border: 1px solid grey;
  border-radius: 3px;
  height: 40px;
  width: 90px;
  background-color: transparent;
  outline: none;
  margin-right: 50px;
  font-weight: 700;
}

.header .head-prev {
  border: none;
  font-size: 45px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .head-next {
  font-size: 45px;
  border: none;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .head__row {
  margin-left: 25px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 25px;
}

.header .week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  padding: 0 55px 0 0px;
  border-top: 1px solid #c0c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 0 !important;
}

.header .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 90px;
}

.header .date-week {
  font-size: 18px;
  opacity: 0.5;
}

.header .date-number {
  width: 40px;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}

.header .date .active {
  color: #fff;
  background-color: #2979ff;
}
/*# sourceMappingURL=header.css.map */